<article class="post" id="<%= dom_id(post) %>">
  <section class="post-content">
    <section class="author-info">
      <div class="author-avatar">
        <%= avatar_with_fallback(post.user) %>
      </div>

      <div class="author-name">
        <%= post.user.name %>
      </div>
    </section>

    <section class="post-body">
      <p>
        <%= post.body %>
      </p>
    </section>

    <% unless content_for?(:show_view) %>
      <div class="see-more">
        <%= link_to "See more", post %>
      </div>
    <% end %>
  </section>

  <%= content_for(:show_view) %>
</article>
