<article id="post_<%= post.id %>">
  <section class="author-info">
    <div class="author-avatar">
      <%= image_tag "default-user.svg", alt: "user avatar", size: 32 %>
    </div>

    <div class="author-name">
      <%= post.user.name %>
    </div>
  </section>

  <section class="post-body">
    <p>
      <%= post.body %>
    </p>
  </section>

  <section class="post-actions">
    <% unless show_view %>
      <div class="post-action-see-more">
        <%= link_to "See more", post %>
      </div>
    <% end %>

    <div class="post-action-comment">
      <%= link_to "Comment", post_path(post, anchor: "new-comment-form") %>
    </div>

    <div class="post-action-like" id="like-post-<%= post.id %>">
      <% if post.liked_by?(current_user) %>
        <%= button_to "Unlike", post.like_by(current_user), method: :delete %>
      <% else %>
        <%= button_to "Like", [ post, post.likes.build ] %>
      <% end %>
    </div>
  </section>

  <% if show_view %>
    <section class="comments">
      <%= render "comments/form", post:, comment: comment || post.comments.build %>
      <%= render post.comments.select(&:persisted?) %>
    </section>
  <% end %>
</article>
