<nav class="view-type-nav">
  <%= link_to "Recent Posts", posts_path %>
  <%#= link_to "Users", users_path %>
</nav>

<%= turbo_frame_tag "main" do %>
  <div>
    <% unless @posts.empty? %>
      <%= render @posts %>
    <% else %>
      No posts were found.
    <% end %>
    <div id="page-actions">
      <% if @page_number > 1 %>
        <%= link_to "Previous", posts_path(page_number: @page_number - 1) %>
      <% end %>

      <% if @page_number < @posts.maximum_pages %>
        <%= link_to "Next", posts_path(page_number: @page_number + 1) %>
      <% end %>
    </div>
  </div>
<% end %>
